body{
    background-image: url(4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;

}

div {
    background-color: black;
    
}
fieldset {
    font-size: 20px;
}

button {
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    margin: 5px 0px 5px 20px;
    background-color: rgb(27, 27, 27);
    color: white;
}